In [2]:
import pandas as pd
import numpy as np
import math

In [7]:
# Define the round_to_nearest function
def round_to_nearest(value):
    
    difference_ceil = math.ceil(value) - value
    if difference_ceil <= 0.25:
        return math.ceil(value)
    elif difference_ceil <= 0.5:
        return math.ceil(value) - 0.5
    elif difference_ceil <= 0.75:
        return math.ceil(value) - 0.5
    else:
        return math.floor(value)
# Apply the round_to_nearest function to each column of the DataFrame
dataset = dataset.applymap(round_to_nearest)
dataset.head(10)

,Pyramidal,Cerebellar,Thronchioencephalic,Sensitive,Sphincteric,Visual,Mental,Deambulation
0,1.0,0.5,0.0,0.5,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,1.5,0.0,1.5,0.5,0.0,0.5,0.0
3,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0
4,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0
5,2.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0
6,2.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0
7,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0
8,1.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0
9,2.0,1.0,1.0,2.0,1.0,0.0,0.0,0.0

In [4]:
dataset = pd.read_csv(".../4Weeks_Merged_AirFS.csv")
dataset = dataset.iloc[:,2:10]
dataset.head()

,Patient_ID,Date_of_visit,Pyramidal,Cerebellar,Thronchioencephalic,Sensitive,Sphincteric,Visual,Mental,Deambulation,...,SO2_mean,SO2_who,wind_speed_mean,humidity_mean,sealevel_pressure_mean,global_radiation_mean,precipitation_mean,average_temperature_mean,min_temperature_mean,max_temperature_mean
0,2774,2013-07-05,1.000000,0.545455,0.000000,0.545455,0.090909,0.0,0.181818,0.0,...,NaN,0.0,2.525143,59.416286,1019.594293,284.657143,0.331429,23.544571,19.319714,28.145428
1,2774,2013-04-12,1.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,NaN,0.0,3.108286,71.661966,1012.994296,179.028571,2.708572,12.388857,9.502571,15.917143
2,2774,2015-09-04,1.777778,1.304348,0.086957,1.347826,0.304348,0.0,0.521739,0.0,...,NaN,0.0,2.240857,60.827893,1013.371439,243.742857,1.105714,26.745714,22.574285,31.347142
3,3936,2013-03-26,2.000000,1.000000,1.000000,2.000000,0.000000,0.0,0.000000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3936,2013-09-04,2.000000,1.000000,1.000000,2.000000,0.000000,0.0,0.000000,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN